<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1><%= title %></h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/Groceries/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Grocery Item </a>
            <br>
            <% } %>
            <br>
    <table class= "table table-bordered table-striped table-hover">
    <tr class="d-flex">
    <% if(typeof displayName=='string' && displayName) { %>
        <th class="text-center col-2">Item</th>
        <th class="text-center col-2">Cost</th>
        <th class="text-center col-3">Quantity</th>
        <th class="text-center col-3">Total</th>
        <th class="text-center col-1"></th>
        <th class="text-center col-1"></th>
    <% } else { %>
    <th class="text-center col-2">Item</th>
        <th class="text-center col-2">Cost</th>
        <th class="text-center col-3">Quantity</th>
        <th class="text-center col-3">Total</th>
        
    <% } %>

    </tr>
    <!-- Repeat the template -->
    <% for(let count=0; count < BookList.length; count++) { %>
        <tr class="d-flex">
        <% if(typeof displayName=='string' && displayName) { %>
            <td class="text-center col-2"><%= BookList[count].Item %></td>
            <td class="text-center col-2"><%= BookList[count].Cost %></td>
            <td class="text-center col-3"><%= BookList[count].Quantity %></td>
            <td class="text-center col-3"><%= BookList[count].Total %></td>  
            <td class="text-center col-1">
                <a href="/Groceries/edit/<%= BookList[count]._id %>"
                    class="btn btn-primary btn-sm">
                    <i class="fas fa-pencil-alt"></i> Edit </a>
            </td>
            <td class="text-center col-1">
                <a href="/Groceries/delete/<%= BookList[count]._id %>"
                    class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete </a>
            </td>
        <% } else { %>
            <td class="text-center col-2"><%= BookList[count].Item %></td>
            <td class="text-center col-2"><%= BookList[count].Cost %></td>
            <td class="text-center col-3"><%= BookList[count].Quantity %></td>
            <td class="text-center col-3"><%= BookList[count].Total %></td>
        
        <% } %>       
        </tr>
    <% } %>
    </table>
</div>
</div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>